@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');

/* Moonlight Theme Palette
------------------------------------------*/
:root {
	--moonlight-gray: #3A3E59;
	--moonlight-black: #222436;
	--github-black: #0D1117;
	--red: #FF757F;
	--rose: #FF98A4;
	--orange: #FFC777;
	--yellow: #FFFF81;
	--green: #4FD68D;
	--teal: #4FD6BB;
	--cyan: #86E1FC;
	--blue: #599DFF;
	--indigo: #7A88CF;
	--purple: #C099FF;
	--pink: #FCA7EA;
	--white: #F8F8F8;
	--bright-grey: #7F85A3;
	--light-gray: #7A7A7A;
	--dark-gray: #202020;
	--black: #050505;
}

/* Entire Document
------------------------------------------*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	background-color: var(--github-black);
}

body * {
	font-family: 'Quicksand', sans-serif;
	line-height: 160%;
}

/* Header
------------------------------------------*/
main, header {
	max-width: 580px;
	width: 90%;
	margin: auto;
}

header {
	text-align: center;
}

header img {
	border-radius: 100%;
	border: 4px solid var(--red);
	margin: 24px auto;
	width: 120px;
	height: calc(100% + 48px);
	animation: fromTop 1s .4s backwards;
}


/* Section
------------------------------------------*/
section {
	display: grid;
	gap: 24px;
}

section div:first-child {
	animation: fromBottom 1s .4s backwards;
	animation: fromLeft .5s .4s backwards;
}

section div {
	background-color: var(--moonlight-black);
	border-top: 4px solid var(--red);
	padding: 32px;
	padding-top: 24px;
	border-radius: 8px;
	animation: fromBottom 1s .8s backwards;
	animation: fromRight .5s .8s backwards;
}

section div:last-child {
	animation: fromBottom 1s 1s backwards;
	animation: fromLeft .5s 1s backwards;
}

section h2 {
	color: var(--bright-grey);
	font-size: larger;
}

section p {
	color: var(--white);
	font-size: medium;
}

section ul {
	margin-top: 16px;
	list-style-type: none;
	display: flex;
	flex-wrap: wrap;
	gap: 16px;
}

/* Section Content
------------------------------------------*/
section ul li img {
	transition: transform .3s
}

section ul li img:hover {
	transform: scale(1.1);
}

.games-list img {
	border-radius: 8px;
	width: 90px;
}

.games-wishlist img {
	border-radius: 8px;
	width: 90px;
}

.social-list a i {
	color: var(--bright-grey)
}

.social-list a i:hover {
	color: var(--blue)
}

/* Footer
------------------------------------------*/
footer p {
	color: var(--bright-grey);
	animation: fromLeft .8s 1.2s backwards;
	margin: 16px;
	text-align: center;
}

footer i {
	color: var(--green);
}

footer i:hover {
	color: var(--red);
}

/* Animations
------------------------------------------*/
@keyframes fromLeft {
	from {
		opacity: 0;
		transform: translateX(-200px);
	}
	to {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes fromRight {
	from {
		opacity: 0;
		transform: translateX(200px);
	}
	to {
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes fromTop {
	from {
		opacity: 0;
		transform: translateY(-180px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes fromBottom {
	from {
		opacity: 0;
		transform: translateY(180px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}