/* Moonlight Theme Palette
------------------------------------------*/
:root {
	--moonlight-gray: #3A3E59;
	--moonlight-black: #222436;
	--red: #FF757F;
	--rose: #FF98A4;
	--orange: #FFC777;
	--yellow: #FFFF81;
	--green: #4FD68D;
	--teal: #4FD6BB;
	--cyan: #86E1FC;
	--blue: #599DFF;
	--indigo: #7A88CF;
	--purple: #C099FF;
	--pink: #FCA7EA;
	--white: #F8F8F8;
	--bright-grey: #7F85A3;
	--light-gray: #7A7A7A;
	--dark-gray: #202020;
	--black: #050505;
}
